* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0 auto;
}

form h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid lightgrey;
  border-radius: 0.3rem;
}

input::placeholder {
  font-weight: bold;
}

.split-input {
  display: flex;
  justify-content: space-between;
}

.split-input input {
  width: 47%;
}

.agree {
  display: flex;
  align-items: center;
}

.agree div {
  width: 15%;
  display: flex;
  justify-content: space-between;
  margin-right: 25%;
  font-weight: bold;
  position: relative;
  left: -2ch;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  width: 47%;
  padding: 0.75rem;
  border-radius: 0.3rem;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.agree p button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.15rem;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #428bca;
}

.green-button {
  background-color: #5cb85c;
}
.blue-button {
  background-color: #428bca;
}

a {
  text-decoration: none;
  color: #65a1d4;
}
